*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background: linear-gradient(135deg, #007BFF, #0056b3);
    height: 100vh;
     display: flex;
    align-items: center;
    justify-content: center;    
}


.login,
.signup{
    width: 350px;
    height: 450px;
    background-color: rgb(255, 253, 253);
    padding: 20px;
    border-radius: 10px;   
}
h1{
    font-size: 34px;
    font-weight: 600;
    text-align: center;
}
.switch{
    display: flex;
    width: 300px;
    height: 48px;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 25px;
}
.switch button.active {
background: linear-gradient(135deg, #007BFF, #0056b3);
  color: #fff;
}

button{
    width: 150px;
    border: none;
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
}
input{
    width: 300px;
    height: 48px;
    border: 1px solid rgb(167, 166, 166);
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 25px;
}
.log{
    width: 300px;
    height: 40px;
    color: white;
 background: linear-gradient(135deg, #007BFF, #0056b3);
    margin-top: 10px;
    cursor: pointer;
}
p{
    font-size: 20px;
    text-align: center;
    margin-top: 25px;
    letter-spacing: 0.4px;
}
span{
    color: rgb(43, 43, 226);
}
  main section {
    display: none; 
  }
  main section.active {
    display: block;  
  }
 
